<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- external CSS link -->
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel="stylesheet" href="../styles/styles.css">

  <!-- font -->
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Inconsolata|Lato|News+Cycle" rel="stylesheet">
  <title>Projects Portal</title>

</head>
<body class="Site">
  <div class="whole-page-container Site-content">
    <header class="clearfix header">
      <nav>
        <a href="login" class="log-out"><img src="../images/iconmonstr-log-out-9-32.png"/></a>
      </nav>
      <span class="logo"><a href="portal">Gyaza</a></span>
      <h1>Project Portal</h1>
      <h3>Welcome, <%= userName %></h3>
      <h5>id: <%= userId %></h5>
    </header>

  <div class="tabs">
    <nav>
      <ul>
        <li class="tab-current"><a href="portal">Current</a></li>
        <li class="tab-current"><a href="portal">Complete</a></li>
         <li class="tab-current"><a href="portal">Pending</a></li>
      </ul>
    </nav>

 <div class="content project-portal-container">
        <button type="button" name="button">Create Project</button>
        <%for(var i = 0; i < projects.length; i++) {%>
          <section class="section"><a href="/project/<%= projects[i]._id %>">
            <div class="mediabox">
              <img src="../images/<%= bear %>.png" alt="project-image"/>
              <h3><%= projects[i].name %></h3>
              <p><%= projects[i].description %></p>
            </div></a>
          </section>

        <%}%>
  <div class="pop-up hide">
    <form id="pop-form" action="/portal/<%= userId %>" method="post">
      <div class="field name">
        <input type="text" id="name" name="name" placeholder="Project Name"/>
      </div>
      <div class="field contributors">
        <input type="text" id="contributors" name="contributors" placeholder="Contributors1, Contributors2, ..."/>
      </div>
      <div class="field description">
        <input type="text" id="description" name="description" placeholder="Description"/>
      </div>
      <div class="button">
        <input class="button" type="submit" value="Create"/>
      </div>

    </form>
  </div>


  </div> <!--end of tabs-container-->
</div> <!--end of whole-page-container-->
<!-- <div class="push"></div> -->
<footer id="clearfix">Made by: GerBear, CareBear, and SofaBear</footer>
<!--APPLICATION SCRIPTS-->
<!-- Add jQuery library -->
<script type="application/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="../scripts/portal.js"></script>
</body>
</html>
